@charset "UTF-8";
/*nombre de plat de chaque resto*/
@font-face {
  font-family: "shrikhandregular";
  src: url("../font/Shrikhand-Regular.ttf") format("truetype"), url("../font/shrikhandregular.woff") format("woff"), url("../font/shrikhandregular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-family: "Robotoregular";
  src: url("../font/Roboto-Regular.ttf");
  font-family: "robotothin";
  src: url("../font/Roboto-Thin.ttf");
}
/* Gestion de l'ombre portée */
/*Champs de recherhe*/
/*Bouton*/
/*Pour centrer un element (H/V)*/
/*Animation chargement*/
@keyframes loadcharge {
  0% {
    transform: scaleX(0.5);
  }
  100% {
    transform: scaleX(1.5);
  }
}
/*Affichage page */
@keyframes display {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/*Animation validation de plat du menu*/
@keyframes box-check {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-90px);
  }
}
@keyframes box-check-form {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}
@keyframes box-check-price {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(-50px);
  }
}
@keyframes box-check-text {
  0% {
    width: 80%;
  }
  100% {
    width: 65%;
  }
}
/*Fin animation validation de plat du menu*/
/*Animation d'affichage des plats du menu*/
@keyframes box-plat {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
body {
  font-family: Robotoregular, arial, sans-serif;
  margin: 0;
  position: relative;
}

.container {
  width: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  z-index: 1;
  background-color: white;
}
.container--delay {
  animation: display 0ms 2500ms both;
}

.load {
  width: 20%;
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 40%;
  top: 40%;
}
.load__bar {
  background-color: #99E2D0;
  height: 12px;
  width: 100%;
  animation: loadcharge 700ms both infinite ease-in-out alternate;
}
.load__bar--1 {
  animation-delay: 233.3333333333ms;
}
.load__bar--2 {
  animation-delay: 466.6666666667ms;
}
.load__bar--3 {
  animation-delay: 700ms;
}

header {
  height: 63px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header__logo {
  height: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (min-width: 600px) {
  .header__logo {
    justify-content: flex-start;
  }
}
.header__logo > img {
  transform: scale(0.9);
}

.header__return {
  position: absolute;
  left: 20px;
  font-size: 1.2rem;
}
.header__return > a:visited {
  color: #353535;
}

form > input {
  color: #353535;
  margin-bottom: 0px;
  height: 50px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  border: 0px;
  background-color: #dddddd;
  box-shadow: 0px 3px 4px #c3c3c3 inset;
  font-size: 1rem;
  font-weight: bold;
}

#reservation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#reservation > h1 {
  margin: 43px 20px 20px 20px;
}
#reservation > p {
  font-family: robotothin;
  margin: 0px 20px 34px 20px;
  color: #353535;
}

.btn {
  width: 215px;
  height: 50px;
  border: 0;
  border-radius: 40px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 57px;
  cursor: pointer;
  box-shadow: 0px 3px 5px #aaaaaa;
}
.btn:hover {
  opacity: 0.95;
  box-shadow: 0px 3px 5px #909090;
}
.btn > span {
  font-family: robotoregular, sans-serif;
  font-weight: bold;
  font-size: 0.9rem;
}

#fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
  margin-bottom: 68px;
}
#fonctionnement > h2 {
  margin: 50px 0 34px 0;
}
@media (min-width: 600px) {
  #fonctionnement > h2 {
    text-align: center;
  }
}

.step {
  height: 70px;
  position: relative;
  margin: 10px 0px;
  display: flex;
  align-items: center;
}
.step__number {
  position: absolute;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  border-radius: 10px;
  color: white;
  z-index: 1;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step__box {
  position: absolute;
  left: 10px;
  width: 90%;
  height: 70px;
  background-color: #f6f6f6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 5px #dddddd;
}
@media (min-width: 600px) {
  .step__box {
    width: 98%;
  }
}
.step__box > i {
  color: #777777;
  font-size: 1.1rem;
  position: absolute;
  left: 30px;
}
.step__box > span {
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  left: 70px;
}
@media (min-width: 600px) {
  .step__box > span {
    text-align: center;
    position: static;
  }
}
.step__box--2 {
  position: absolute;
  left: 10px;
  width: 90%;
  height: 70px;
  background-color: #f7f2fc;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 5px #dddddd;
}
@media (min-width: 600px) {
  .step__box--2 {
    width: 98%;
  }
}
.step__box--2 > i {
  color: #9356DC;
  font-size: 1.1rem;
  position: absolute;
  left: 30px;
}
.step__box--2 > span {
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  left: 70px;
}
@media (min-width: 600px) {
  .step__box--2 > span {
    text-align: center;
    position: static;
  }
}

#resto {
  background-color: #f6f6f6;
  padding: 0 20px 60px 20px;
  display: flex;
  flex-direction: column;
}
#resto > h2 {
  margin: 60px 0 28px 0;
}
@media (min-width: 600px) {
  #resto > h2 {
    text-align: center;
  }
}

.resto__type {
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 5px #dddddd;
  position: relative;
}
.resto__type > figure {
  height: 100%;
  margin: 0;
}
.resto__type > figure > img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.resto__type > figure > figcaption {
  padding-left: 20px;
  margin-top: 10px;
  position: relative;
}
.resto__type > figure > figcaption .resto__title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 4px;
}
@media (min-width: 600px) {
  .resto__type > figure > figcaption .resto__title {
    text-align: center;
  }
}
.resto__type > figure > figcaption .resto__title > a {
  text-decoration: none;
  color: black;
}
.resto__type > figure > figcaption .resto_location {
  font-family: robotothin;
}
@media (min-width: 600px) {
  .resto__type > figure > figcaption .resto_location {
    text-align: center;
  }
}
.resto__type > figure > figcaption .resto__heart {
  position: absolute;
  right: 30px;
  top: 0px;
  font-size: 1.5rem;
}

.resto__new {
  width: 80px;
  height: 30PX;
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 13px;
}

.menu {
  height: auto;
  background-color: #f6f6f6;
  border-radius: 20px 20px 0px 0px;
  margin-top: 0;
  width: 100%;
  margin-top: -40px;
}
.menu__top {
  margin: 0px 20px;
  display: flex;
  align-items: center;
  position: relative;
}
.menu__top__title {
  font-family: shrikhand;
}
.menu__top__heart {
  position: absolute;
  right: 20px;
  font-size: 1.3rem;
}
.menu__element {
  margin: 15px;
}
.menu__element__title {
  font-family: robotothin;
  text-transform: uppercase;
}
.menu__element__line {
  width: 40px;
  height: 3px;
  background-color: #99E2D0;
  margin: 5px 0px 0px 0px;
}
.menu__element__box {
  width: 100%;
  height: 68px;
  background-color: white;
  border-radius: 20px;
  margin: 15px 0px;
  display: flex;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0px 3px 5px #dddddd;
  animation: box-plat 1000ms both;
}
.menu__element__box--1 {
  animation-delay: 111.1111111111ms;
}
.menu__element__box--2 {
  animation-delay: 222.2222222222ms;
}
.menu__element__box--3 {
  animation-delay: 333.3333333333ms;
}
.menu__element__box--4 {
  animation-delay: 444.4444444444ms;
}
.menu__element__box--5 {
  animation-delay: 555.5555555556ms;
}
.menu__element__box--6 {
  animation-delay: 666.6666666667ms;
}
.menu__element__box--7 {
  animation-delay: 777.7777777778ms;
}
.menu__element__box--8 {
  animation-delay: 888.8888888889ms;
}
.menu__element__box--9 {
  animation-delay: 1000ms;
}
.menu__element__box__group {
  margin: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
}
.menu__element__box__group:active + .check {
  animation: box-check 550ms both;
}
.menu__element__box__group:active + .check i {
  animation: box-check-form 550ms both;
}
.menu__element__box__group:active .menu__element__box__group__price {
  animation: box-check-price 500ms 100ms both;
}
.menu__element__box__group:active .menu__element__box__group__text {
  animation: box-check-text 300ms 100ms both;
}
.menu__element__box__group__title {
  font-size: 1rem;
  font-weight: bold;
  margin: 0px 10px;
  width: 100%;
}
.menu__element__box__group__text {
  width: 80%;
  font-family: robotothin;
  margin: 5px 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.menu__element__box__group__price {
  font-weight: bold;
  color: #353535;
  margin-right: 15px;
}
.menu .btn {
  margin-bottom: 80px;
  margin-top: 50px;
}

.check {
  width: 59px;
  height: 68px;
  background-color: #99E2D0;
  border-radius: 0 20px 20px 0;
  position: absolute;
  right: -90px;
}
.check i {
  height: 100%;
  color: white;
  font-size: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  height: 165px;
  background-color: #353535;
  padding: 20px;
  color: white;
}
@media (min-width: 600px) {
  footer {
    text-align: center;
  }
}
footer > h3 {
  font-family: shrikhandregular, Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
  margin: 0;
}
footer > ul {
  padding: 0;
  font-size: 0.9rem;
  margin-top: 20px;
}
footer > ul > li {
  list-style-type: none;
  margin-bottom: 10px;
}
footer > ul > li > i {
  display: block;
  width: 10px;
  font-size: 0.7rem;
  margin-right: 10px;
}
footer > ul > li > a {
  text-decoration: none;
  color: white;
}

figure {
  height: 280px;
  width: 100%;
  margin: 0;
}
figure > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*# sourceMappingURL=styles.css.map */
