@font-face {
  font-family: "shrikhand";
  src: url("./font/Shrikhand-Regular.ttf");
  font-family: "robotoregular";
  src: url("./font/Roboto-Regular-webfont.eot");
  src: url("./font/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("./font/Roboto-Regular-webfont.woff2") format("woff2"), url("./font/Roboto-Regular-webfont.woff") format("woff"), url("./font/Roboto-Regular-webfont.ttf") format("truetype"), url("./font/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-family: "robotothin";
  src: url("font/Roboto-Thin-webfont.eot");
  src: url("font/Roboto-Thin-webfont.eot?#iefix") format("embedded-opentype"), url("font/Roboto-Thin-webfont.woff2") format("woff2"), url("font/Roboto-Thin-webfont.woff") format("woff"), url("font/Roboto-Thin-webfont.ttf") format("truetype"), url("font/Roboto-Thin-webfont.svg#robotothin") format("svg");
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: robotoregular, arial, sans-serif;
}

.container {
  width: auto;
}

header {
  height: 60px;
}

.header__logo {
  display: flex;
  justify-content: center;
  padding: 20px;
}
@media (min-width: 600px) {
  .header__logo {
    justify-content: flex-start;
  }
}

form > p {
  margin-bottom: 0px;
}
form > p > input {
  height: 60px;
  display: flex;
  justify-content: center;
  width: 100%;
  text-align: center;
  border: 0px;
  background-color: #dddddd;
  box-shadow: 0px 3px 4px #c3c3c3 inset;
  font-size: 1rem;
  font-weight: bold;
}

#reservation {
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
#reservation > h1 {
  margin-top: 0px;
  padding-top: 20px;
}
#reservation > h1 > p {
  font-family: robotothin;
}

.btn {
  width: 215px;
  height: 50px;
  border-radius: 40px;
  background: linear-gradient(170deg, #FF79DA, #9356DC);
  margin: auto;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 55px;
  box-shadow: 0px 3px 5px #d0d0d0;
}

#fonctionnement {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 20px;
}

.step {
  height: 70px;
  position: relative;
  margin: 10px 0px;
}
.step__number {
  position: absolute;
  left: 0px;
  width: 20px;
  height: 20px;
  background-color: #9356DC;
  border-radius: 10px;
  color: white;
  z-index: 1;
  font-size: 0.9rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.step__box {
  position: absolute;
  left: 10px;
  top: -25px;
  width: 90%;
  height: 70px;
  background-color: #f6f6f6;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 5px #dddddd;
}
.step__box > i {
  color: #777777;
  font-size: 1.1rem;
  position: absolute;
  left: 30px;
}
.step__box > span {
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  left: 70px;
}
.step__box--2 {
  position: absolute;
  left: 10px;
  top: -25px;
  width: 90%;
  height: 70px;
  background-color: #f7f2fc;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 3px 5px #dddddd;
}
.step__box--2 > i {
  color: #9356DC;
  font-size: 1.1rem;
  position: absolute;
  left: 30px;
}
.step__box--2 > span {
  font-size: 0.9rem;
  font-weight: bold;
  position: absolute;
  left: 70px;
}

#resto {
  background-color: #f6f6f6;
  padding: 20px 20px 60px 20px;
  display: flex;
  flex-direction: column;
}

.resto__type {
  width: 100%;
  height: 250px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0px 3px 5px #dddddd;
  position: relative;
}
.resto__type > a {
  text-decoration: none;
  color: black;
}
.resto__type > a > figure {
  height: 100%;
  margin: 0;
}
.resto__type > a > figure > img {
  width: 100%;
  height: 70%;
  object-fit: cover;
  border-radius: 20px 20px 0px 0px;
}
.resto__type > a > figure > figcaption {
  padding-left: 20px;
  margin-top: 10px;
  position: relative;
}
.resto__type > a > figure > figcaption .resto__title {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 4px;
}
.resto__type > a > figure > figcaption .resto__heart {
  position: absolute;
  right: 30px;
  top: 0px;
  font-size: 1.5rem;
}

.resto__new {
  width: 80px;
  height: 30PX;
  background-color: #99E2D0;
  color: #278870;
  font-size: 0.8rem;
  font-weight: bold;
  border-radius: 4px;
  display: flex;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 13px;
  right: 13px;
}

footer {
  height: 165px;
  background-color: #353535;
  padding: 20px;
  color: white;
}
footer > h3 {
  font-family: shrikhand;
  font-size: 1.5rem;
  margin: 0;
}
footer > ul {
  padding: 0;
  font-size: 0.9rem;
  margin-top: 20px;
}
footer > ul > li {
  list-style-type: none;
  margin-bottom: 10px;
}
footer > ul > li > a {
  text-decoration: none;
  color: white;
}

/*# sourceMappingURL=styles.css.map */
