.btn{
    @include btn;
    &:hover{
        @include shadow (40%);
        &::after{
            opacity: 1;
        }
    }
    &::after{
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: linear-gradient(170deg, lighten($color-second,7), lighten($color-first,7));
        opacity: 0;
        z-index: -1;
        transition: opacity 250ms;
    }
    >span{
        font-family: robotoregular,sans-serif;
        font-weight: bold;
        font-size: 0.9rem;
    }
}