.btn{
    @include btn ($gradient);
    >span{
        font-family: robotomedium,sans-serif;
        font-size: 0.9rem;
    }
    &:hover{
        @include shadow (40%);
        background: linear-gradient($gradient-light);

    }
    

}