form{
    position: relative;
    >input{  
        color: $color-bottom;  
        margin-bottom: 0px;
        font-family: "Robotoregular", serif;
        @include search;
        font-size: 1.1rem;
        &:focus{
            outline: none;
            & + .location{
                opacity: 0;
                animation: infinite;
                animation-fill-mode: forwards;
            }
        }
    }

    .location{
        font-size: 1.2rem;
        color:$color-bottom;
        position: absolute;
        top:15px;
        margin-left: 26%;
        @media(max-width:320px){
            margin-left: 10%;
        }
        
        @media(min-width:$media-tab){
            margin-left: 30%;
        }
        @media(min-width:$media-desk){
            margin-left: 40%;
        }

    }
}

#reservation{
    background-color: $color-grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    > h1{
        margin: 43px 20px 20px 20px ;
        
    }
    > p{
        font-family: robotolight;
        margin: 0px 20px 34px 20px;
        color: $color-bottom;
    }
}