@font-face{
    font-family: "shrikhandregular";
    src: url("../font/Shrikhand-Regular.ttf") format("truetype"),
         url("../font/shrikhandregular.woff") format("woff"),
         url("../font/shrikhandregular.woff2") format("woff2");
    font-weight: normal;
    font-style: normal;
}
@font-face{
    font-family: "Robotoregular";
    src: url("../font/Roboto-Regular.ttf");
}

@font-face{
    font-family: "robotolight";
    src: url("../font/Roboto-Light.ttf"); 
}

@font-face{
    font-family: "robotomedium";
    src: url("../font/Roboto-Medium.ttf"); 
}

@font-face{
    font-family: "robotobold";
    src: url("../font/Roboto-Bold.ttf"); 
}