header{
    height: 63px;
    @include center;
    position: relative;
}

.header__logo{
    height: 100%;
    padding-top: 10px;
    @include center;
    @media (min-width: 600px) {
        justify-content: flex-start;
    } 
    >img{
        transform: scale(0.9);
    }
}

.header__return{
    position: absolute;
    left:20px;
    font-size: 1.2rem;
    >a:visited{
        color: $color-bottom;
    }
}



