.menu{
    height: auto;
    background-color: $color-grey;
    border-radius: 20px 20px 0px 0px;
    margin-top: 0;
    width: 100%;
    margin-top: -40px;
    &__top{
        margin: 0px 20px;
        display: flex;
        align-items: center;
        position: relative;
        &__title{
            font-family: shrikhandregular;
        }
        &__heart{
            position: absolute;
            right: 20px;
            font-size: 1.3rem;
            &--2{
                position: absolute;
                right: 19px;
                font-size: 1.4rem;
                @include gradient-heart;
                opacity: 0;
                &:active{
                    animation: heart-clic 550ms forwards;
                }
            }
        }   
        
    }
    &__element{
        margin: 15px;
        &__title{
            font-family: robotothin;
            text-transform: uppercase;
        }
        &__line{
            width: 40px;
            height: 3px;
            background-color: $color-third;
            margin: 5px 0px 0px 0px;
        }
        &__box{
            width: 100%;
            height: 68px;
            background-color: white;
            border-radius: $radius;
            margin: 15px 0px;
            display: flex;
            position: relative; 
            overflow: hidden; 
            cursor: pointer;          
            @include shadow (10%);
            animation: box-plat $anim-duration both;
            @for $i from 1 through $box-plat{
                &--#{$i} {
                    animation-delay: $anim-delay * $i;
                }
            }
            &__group{
                margin: 15px 10px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-wrap: wrap;
                width: 100%;
                &:active{
                    & + .check{
                        animation: box-check 550ms both;
                        i{
                            animation: box-check-form 550ms both;
                        }
                    } 
                    .menu__element__box__group__price{
                        animation:box-check-price 500ms 100ms both;
                    }  
                    .menu__element__box__group__text{
                        animation:box-check-text 300ms 100ms both;                        
                    } 
                } 

                &__title{
                    font-size: 1rem;
                    font-weight: bold;
                    margin: 0px 10px;
                    width: 100%;
                }
                &__text{
                    width: 70%;
                    font-family: robotolight;
                    margin:5px 10px;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;                       
                }
                &__price{
                    font-weight: bold;
                    color: $color-bottom;
                    margin-right: 15px;
                }
            } 
        }
    }
    .btn{
        margin-bottom: 80px;
        margin-top: 50px ;
    }
}

.check{
    width: 59px;
    height: 68px;
    background-color: $color-third;
    border-radius: 0 20px 20px 0;
    position: absolute;
    right: -90px;
    i{
        height: 100%;
        color: white;
        font-size: 1.3rem;
        @include center;
    }                
}