/* Gestion de l'ombre portée */
@mixin shadow ($intensity){
    box-shadow: 0px 3px 5px darken($color-grey,$intensity);
}

/*Champs de recherhe*/
@mixin search{
    height: 50px;
    display: flex;
    justify-content: center;
    width: 100%;
    text-align: center;
    border: 0px;
    background-color: darken($color-grey,10%);
    box-shadow: 0px 3px 4px darken($color-grey,20%) inset;
    font-size: 1rem;
    font-weight: bold;
}


/*Bouton*/
@mixin btn{
    width: 215px;
    height: 50px;
    border: 0;
    border-radius: 40px;
    background: linear-gradient($gradient);
    margin: auto;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 57px;
    cursor: pointer;
    position: relative;
    @include shadow (30%);
}

/*Pour centrer un element (H/V)*/
@mixin center{
    display: flex;
    justify-content: center;
    align-items: center;
}


@mixin box ($bkg_color){
    position: absolute;
    left: 10px;
    width: 90%;
    height: 70px;
    background-color: $bkg_color;
    border-radius: 20px;
}

@mixin icone ($icone_color){
    color: $icone_color;
    font-size: 1.1rem;
    position: absolute;
    left:30px;
}

@mixin link ($font_color){
    text-decoration: none;
    color: black;
}

@mixin gradient-heart{
    background: -webkit-linear-gradient($color-first, $color-second);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
