header{
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.header__logo{
    padding:20px; 
    @media (min-width: 600px) {
        justify-content: flex-start;
    } 
}

.header__return{
    position: absolute;
    left:20px;
    font-size: 1.2rem;
    >a:visited{
        color: $color-bottom;
    }
}



