@use "sass:math";

$color-first:#9356DC;
$color-second:#FF79DA;
$color-third:#99E2D0;
$color-grey:#f6f6f6;
$color-bottom:#353535;
$radius:20px;
$anim-duration:1000ms;
$box-plat:9; /*nombre de plat de chaque resto*/
$anim-delay: math.div($anim-duration, $box-plat);
$gradient:170deg, $color-second, $color-first;
$gradient-light:(170deg, lighten($color-second,3), lighten($color-first,3));
$gradient-heart:90deg, $color-second, $color-first;
$media-tab:500px;
$media-desk: 900px;



@import "font";
@import "mixin";
@import "animation";

body{
    font-family: Robotomedium, arial, sans-serif;
    margin:0;
    position: relative;
}

.container{
    width: auto;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    z-index: 1;
    background-color: white;
    &--delay{
        animation: display 0ms 2500ms both;
    }
}

@import "load";
@import "header";
@import "explore";
@import "elements";
@import "fonctionnement";
@import "resto";
@import "menu";
@import "footer";





















